*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.navbar li a {
    text-decoration: none;
    color: #fff;
}
li {
    list-style: none;
}

.navbar li:nth-child(1) a{
   
    color: purple;
}
.main {
  border-bottom: 3px solid purple;
}
p span {
    color: purple;
}

.second {
   
    height: 40vh;
    background-image: url(./img/showcase.jpg);
    background-size: cover;
    background-position: center;
}
.logos img {
    width: 25%;
    margin-top: 10px;
}

.logos {
    
    border: 1px solid rgb(192, 188, 188);
    box-shadow: 4px 8px 11px 3px rgba(0,0,0,0.6);
    border-radius: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main-logo {
    
    margin-top: 1rem;
    font-size: 1rem;
    width: 100%;
    display: flex;
    
    justify-content: space-around;
}
footer img{
    width: 15%;
}

footer div {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    background-color: rgb(33, 37, 41);
    color: #fff;
    flex-direction: column;
    align-items: center;
    
    border: 2px red solid;
}

/* ? ====================================ABOUT SECTİION======================================================= */


